- provide :title, @title

%section.posts

  %ul.post-list
    - for post in @posts
      %li 
        %h4
          = link_to post, edit_admin_post_path(post), :class => 'post-title'
          - unless post.published?
            %span.unpub Unpublished!
        %span.meta Authored #{time_ago_in_words post.created_at} ago on #{l post.created_at, :format => :long}
    