- provide :title, 'welcome'

- @posts.each do |post|
  %article
    %header
      %h3.post-title
        = link_to post.title, post
      %p.post-meta
        Posted #{post.created_at} in #{post.tag_string.to_sentence.html_safe}

      %p

