section.admin-bar
  background: #EEE
  padding: 10px
  border-radius: 5px
  border: 1px solid #DDD
  margin: 0 0 20px 0
  p.captain
    font-size: 12px
    font-weight: bold
    text-transform: uppercase

section.messages
  .alert
    margin-bottom: 10px
    padding: 10px
    border-radius: 5px
    &.alert-success, 
    &.alert-notice
      background-color: $successBackground
      border-color: $successBorder
      color: $successText

    &.alert-danger,
    &.alert-error,
    &.alert-alert
      background-color: $errorBackground
      border-color: $errorBorder
      color: $errorText

    &.alert-info
      background-color: $infoBackground
      border-color: $infoBorder
      color: $infoText


form
  fieldset
    padding: 20px 40px
    // border: 1px solid #CCC
    border: none
    background: #EEE
    +border-radius(5px)

    .field
      margin-bottom: 20px
      label
        color: #999
        text-shadow: 0 1px 0 #FFF
        font-size: 13px
        display: block
        font-weight: 500
        text-transform: uppercase
        line-height: 22px
      &.title
        input[type="text"], textarea
          font-weight: bold
      &.checkfield
        label
          display: inline
      input[type="text"], textarea
        font-size: 14px
        font-family: "Consolas"
        width: 570px
        padding: 10px
        border: 1px solid #DDD
        outline: none
        +border-radius(3px)
        color: #999
        &:focus
          color: #444
          border: 1px solid $purple
          +box-shadow(0 0 10px rgba(126,0,255, 0.5))
      textarea
        width: 550px
        padding: 20px
        line-height: 20px



