@import includes/variables
@import includes/mixins
@import includes/code
@import admin

*
  margin: 0
  padding: 0

body
  font-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  background: #FFF

a
  text-decoration: none
  -webkit-transition: 0.1s ease-in
  transition: 0.1s ease-in

header#header
  width: 100%
  height: 140px
  margin-bottom: 40px
  +gradient-horizontal($pink, $purple)
  .inner
    width: 680px
    margin: 0 auto
    position: relative
    +clearfix
    h1
      margin-top: 50px
      display: block
      float: left
      a
        display: block
        height: 40px
        line-height: 40px
        font-size: 40px
        font-weight: 200
        text-transform: uppercase
        text-decoration: none
        color: #FFF
        &:hover
          text-shadow: 0 0 5px rgba(255,255,255,0.9)
    p.about
      margin-top: 52px
      float: right
      color: #FFF
      opacity: 0.9
      font-size: 13px
      line-height: 17px
      font-weight: 400
      a
        color: #FFF
        font-weight: 600
        &:hover
          text-shadow: 0 0 3px rgba(255,255,255,0.8)


section.wrapper
  width: 680px
  margin: 0 auto

  a
    text-decoration: none
    color: $pink
    &:hover
      color: $purple
      text-shadow: 0 0 3px $purpleGlow
      border-bottom: none
  
  p.notice
    +grey-rounded
    font-size: 13px
    padding: 0 10px
    line-height: 30px
    margin-bottom: 30px
    a
      color: #666
      font-weight: 600
      &:hover
        color: #333
        text-shadow: 0 1px 0 #FFF
  
  h2
    font-weight: 200
    font-size: 30px
    line-height: 40px
    margin-bottom: 10px


section.posts, section.detail
  article.post
    margin-bottom: 75px
    
    h3.post-title
      font-size: 24px
      a
        color: #444
        &.permalink
          margin-left: 5px
          color: #777
        &:hover
          color: $pink
          text-shadow: 0 0 3px $pinkGlow
    
    p.post-meta
      font-size: 14px
      color: #909090
      line-height: 30px
      a
        color: #909090
        border-bottom: 1px dotted #CCC
        &:hover
          color: $purple
          text-shadow: 0 0 3px $purpleGlow
          border-bottom: none

    section.post-body
      margin: 10px 0
      
      h3
        margin: 2em 0 1em 0

      p
        font-size: 14px
        line-height: 21px
        margin-bottom: 15px

      blockquote
        p 
          font: italic 300 20px/30px "chaparral-pro", "Georgia", "serif"

        background: #efeab5 image-url('blockquote-bg.png') 0 11px repeat
        border: 1px solid #c4be8e
        box-shadow: 0 3px 0 #EEE
        margin-bottom: 1em
        +border-radius(5px)
        padding: 20px
        margin: 0 -20px 1em -20px
        
        
        p:last-child
          margin-bottom: 0

nav.pagination
  +grey-rounded
  text-align: center
  font-size: 13px
  padding: 0 10px
  line-height: 30px  
  margin: 0 0 50px 0
  span
    padding: 0 5px
    &.current
      font-weight: bold
    a
      color: #666