@import includes/variables
@import includes/mixins
@import includes/code
@import admin

*
  margin: 0
  padding: 0

html
  -webkit-font-smoothing: antialiased

body
  font-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  background: #FFF
  padding-top: 220px

a
  text-decoration: none

header#header
  position: fixed
  top: 0
  width: 100%
  height: 205px
  background: image-url('header-bg.png') 0 0 repeat-x
  .inner
    width: 680px
    margin: 0 auto
    padding: 75px 0 40px 0
    background: image-url('header-scanlines.png') 0 100% no-repeat
    +clearfix
    h1
      float: left
      a
        display: block
        height: 35px
        line-height: 35px
        font-size: 40px
        font-weight: 200
        text-transform: uppercase
        text-decoration: none
        color: $pink
        background-image: -webkit-linear-gradient(left, $pink, $purple)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    p.about
      float: right
      color: $purple
      font-size: 13px
      line-height: 17px
      font-weight: 400
      text-shadow: 0 0 3px $purpleGlow
      a
        color: $purple
        font-weight: 600
        &:hover
          color: darken($purple, 20)
          // text-shadow: 0 0 3px darken($purpleGlow, 20)


section.wrapper
  width: 680px
  margin: 0 auto

  a
    text-decoration: none
    color: $pink
    -webkit-transition: color 0.05s ease-in
    transition: color 0.05s ease-in
    &:hover
      color: $purple
      text-shadow: 0 0 3px $purpleGlow
      border-bottom: none
  
  p.notice
    background: #EEE
    font-size: 13px
    padding: 0 10px
    line-height: 30px
    margin-bottom: 15px
    border: 1px solid darken(#EEE, 5)
    color: #666
    text-shadow: 0 1px 0 #FFF
    +border-radius(5px)
    a
      color: #666
      font-weight: 600
      &:hover
        color: #333
        text-shadow: 0 1px 0 #FFF
  
  h2
    font-weight: 200
    font-size: 30px
    line-height: 40px
    margin-bottom: 10px


section.posts, section.detail
  article.post
    margin-bottom: 60px
    
    h3.post-title
      font-size: 24px
      a
        color: #444
        &.permalink
          margin-left: 5px
          color: #777
        &:hover
          color: $pink
          text-shadow: 0 0 3px $pinkGlow
    
    p.post-meta
      font-size: 14px
      color: #909090
      line-height: 30px
      a
        color: #909090
        border-bottom: 1px dotted #CCC
        &:hover
          color: $purple
          text-shadow: 0 0 3px $purpleGlow
          border-bottom: none

    section.post-body
      margin: 10px 0
      
      h3
        margin: 2em 0 1em 0

      p
        font-size: 14px
        line-height: 21px
        margin-bottom: 15px

      blockquote
        p 
          font: italic 300 20px/30px "chaparral-pro", "Georgia", "serif"

        background: #efeab5 image-url('blockquote-bg.png') 0 11px repeat
        border: 1px solid #c4be8e
        box-shadow: 0 3px 0 #EEE
        margin-bottom: 1em
        +border-radius(5px)
        padding: 20px
        margin: 0 -20px 1em -20px
        
        
        p:last-child
          margin-bottom: 0